<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> Application title </title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
	<div class="center">
		<h1>Moodify™</h1>
	</div>

    <div class="center">
      <div>
        <div>

        <h4>Welcome to Moodify, the web-based application for finding perfect song suited to your current mood.</h4>

        <form action="/upload-image" method="POST" enctype="multipart/form-data">

            <div class="center">
            <h4>To get a list of songs matching your current state of mind, pick a selfie from your laptop.</h4>
            <h4>Our neural model will take care of the rest... enjoy!</h4>
                <div class="center">
                    <label for="image">Click here to browse for pictures.</label>
                    <input type="file" name="image" id="image" />
                </div>
            </div>
            <button class="button-50" role="button">Show me my playlist</button>
        </form>

        </div>
      </div>
    </div>

    <div class="footer">
        <p>UCI Datathon</p>
        <p>Arpil 2023</p>
    </div>

</body>
</html>
